body {

    background-color: #333333;
    color : white;
}

p {

    color:red;
    background-color: wheat;
}

h1{

    font-size: 40px;
    font-weight: normal;
    color: violet;
    background-color: coral;
}

div {
    background-color: cornflowerblue;
}

div p {

    background-color: teal;
}