
#s1 .container {
    width: 100%;
    height: 200px;
    border: solid 1px gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s1 .container .box {
    position: absolute; /* 부모의 relative 안에 갇힌다.*/
    width: 100px;
    height: 100px;
    background: blueviolet;
    color:white;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    transition: 1s;
}

#s1 .container .box .description {
    position: absolute; /* 부모의 absolute 안에 갇힌다.*/
    left: 0px;
    font-size: 12px;
    font-weight: normal;
    line-height: inherit;
    border: solid violet;
    bottom: 0px;
    background-color: yellow;
    top: 100%;
    color: mediumvioletred;
    font-weight: bold;
    overflow: hidden;

    /* transition: 1s 0.5s transform; */
    /* transition-duration: 1s; */
    /* transition-delay: 0.5s; */
    /* transition-timing-function: ease-out; */
    /* transition-property: transform, background; 적용범위 - transform에만 transition, background 적용한다 */
    transition: 1s transfrom 500ms steps(3, start), 500ms background;
 
    transform-origin: left;
}


#s1 .container .box .description.slide-up {
    top: 0%;
}

#s1 .container .box:hover .description {
    /* top: 0%; */
    transform: rotate(-45deg) skew(45deg) scaleY(0.4);
    background-color: brown;
}