@import url(layout.css);
@import url(component.css);

body{
    font-family: "맑은 고딕", "고딕", sans-serif;
    font-size: 11px;
    color: #979797;
}

.d-none{
    display: none;
}

.text-highlight{
    color:#ff6a00;
}

.font-weight-bold{
    font-weight: bold;
}

.margin-top{
    margin-top: 10px;
}

.margin-main-top{
    margin-top: 23px;
}

