body{
    background: #f1f1f1;
    font-family: sans-serif;
}

.box {
    width: 450px;
    padding: 35px 25px 20px 25px;
    background: white;
    box-shadow: 0 0 10px;
    position: relative;
    margin: 50px 50px;
}

.box h2 {
    position: absolute;
    top: -10px;
    left: -20px;
    background: #0d4f5f;
    color: white;
    padding: 2px 15px;
}

.box h2::before {
    content: "";
    width: 30px;
    height: 30px;
    background: #083844;
    position: absolute;
    transform: rotate(-45deg);
    left: 6px;
    top: 21px;
    z-index: -1;
}