.container {
    width: 100%;
    height: 300px;
    border: solid #979797;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    position: relative;
}

.container .box {
    width: 100px;
    height: 100px;
    position: absolute;
    transition: 1s;
}

.container .box:nth-child(1) {
    background-color: darkkhaki;

}

.container .box:nth-child(2) {
    background-color: cornflowerblue;

}

.container .box:nth-child(3) {
    background-color: lightpink;

}

.pos0 {
    transform: translate(-200px);
    z-index: 0;
    opacity: 0.5;

}

.pos1 {
    transform: translate(0px) scale(1.5);
    z-index: 1;

}

.pos2 {
    transform: translate(200px);
    z-index: 0;
    opacity: 0.5;
}

#s4 .container .description {
    position: absolute;
    width: inherit;
    font-size: 10px;
    background-color: khaki;
    left: 0px;
    bottom: 0px;
    line-height: initial;
    padding: 10px 0px;
}

.d-none {
    display: none;
}