table {
margin: 100px 0px;
}

.table-1 {
    background-color: sandybrown;
    width: 100%;
    text-align: center;
}
.table-1 th {
    border: solid;
}
.table-1 td {
    border: solid;
: ;
}

.table-2 {
    width: 100%;
    background-color: skyblue;
    text-align: center;
}
.table-2 td {
    border: solid;
}