#header .top-header .container {
	display: flex;
	align-items: center;
}

#header .top-header .container p {
	font-size: 10px;
	color: #999;
	letter-spacing: -1px;
	font-weight: 1000;
}

#header .top-header .container .sns {
	display: flex;
	margin-left: 400px;
	margin-top: 2.5px;
}

.sns img {
	padding: 7.5px;
	padding-top: 10px;
	width: auto;
	height: 11px;
}

#header .top-header .container .top-menu {
	display: inline-flex;
	margin-left: 20px;
}

#header .top-header .container .top-menu img {
	width: auto;
	height: auto;
	max-width: 50px;
	padding-top: 0px;
}

#header .top-header .container .top-menu ul {
	display: inline-flex;
}

#header .top-header  .container .top-menu li {
	display: flex;
	border: 1px solid #dedede;
	background: #fff;
	border-radius: 3px;
	color: #666;
	font-size: 9.5px;
	font-weight: bold;
	text-align: center;
	width: auto;
	height: 15px;
	padding: 0px 5px;
	margin-left: 5px;
}

#header .top-header .container .language {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #f4f4f4;
	color: #888;
	font-size: 10px;
	margin-top: 0px;
	margin-left: 5px;
}

#header .bottom-header .container {
	display: flex;
}

#header .bottom-header .container img {
	width: auto;
	height: auto;
	max-width: 115px;
	padding: 20px 0px;
}

#header .bottom-header .container .category ul {
	display: flex;
	font-size: 13.5px;
	font-weight: 900;
	margin-left: 150px;
	letter-spacing: -1px;
}

#header .bottom-header .container .category li {
	padding-top: 40px;
	padding-left: 75px;
}

#body .top-main .container {
	display: flex;
	margin-top: 0px;
}

#body .top-main .container img {
	width: auto;
	height: auto;
	max-width: 40px;
}

#body .top-main .container select {
	width: 120px;
	height: 40px;
	font-size: 12px;
	padding-left: 10px;
	color: #333333;
	border: 1px solid #dedede;
	letter-spacing: -1px;
}

#body .bottom-main {
	display: flex;
}

#body .bottom-main .container .list {
	text-align: center;
}

#body .bottom-main .container .list1 li {
	display: inline-flex;
	border: 1px solid #dedede;
	margin: 45px -3px 35px -3px;
	width: 150px;
	padding: 10px;
	font-size: 12px;
	letter-spacing: -1px;
	font-weight: bold;
	justify-content: center;
}

#body .bottom-main .container .list2 {
	border-top: black solid 1.5px;
	padding-top: 30px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 12px;
	letter-spacing: -1px;
	font-weight: 800;
	color: #333333;
	text-align: center;
}

#body .bottom-main .container .list2 img {
	width: 115px;
	padding: 20px;
}

#body .bottom-main .container .list2 .button div {
	display: inline-flex;
	border: solid 1px #dedede;
	margin: 15px -2px 40px -2px;
	padding: 5px 10px 5px 10px;
}

#body .bottom-main .container .pager {
	display: flex;
	margin-top: 30px;
	padding: 40px 5px 5px 0px;
	border-top: solid 1px #dedede;
	/* text-align: center; */
	/* justify-items: center; */
	justify-content: center;
}

#body .bottom-main .container .pager div {
	display: inline-flex;
	padding: 0.5px;
}

#body .bottom-main .container .pager img {
	width: 25px;
	height: 24px;
}

#body .bottom-main .container .pager ul li {
	display: inline-flex;
	border: solid 1px #dedede;
	font-size: 11px;
	width: 25px;
	height: 22.5px;
	justify-content: center;
	align-items: center;
}

#body .bottom-main .container .pager .find {
	display: inline-flex;
	margin-left: 20px;
}

#body .bottom-main .container .pager .find input {
	width: 30px;
	height: 20px;
	font-size: 12px;
	padding-left: 5px;
}

#body .bottom-main .container .pager .find button {
	font-size: 10px;
	width: 35px;
	height: 20px;
	background-color: grey;
	color: white;
	border: none;
}



#footer {
	font-size: 10px;
	letter-spacing: -1px;
	padding-top: 30px;
}

#footer .container {
	display: flex;
}

#footer .container .logo img {
	width: auto;
	height: auto;
	max-width: 100px;
	padding: 20px 0px;
}

#footer .container .menu {
	padding: 0px 60px 0px 30px;
}

#footer .container .menu ul {
	display: flex;
	padding-bottom: 20px;
}

#footer .container .menu ul li {
	padding: 0px 20px 0px 0px;
	font-weight: bold;
}

#footer .container .info {
	font-size: 9px;
	color: #333333;
}

#footer .container .info .copyright {
	padding-top: 10px;
}

#footer .container .sns ul {
	display: flex;
	padding-right: 20px;
}

#footer .container .etc select {
	width: 175px;
	height: 30px;
	padding-left: 10px;
	font-weight: bold;
}

#footer .container .etc img {
	width: 175px;
	padding-top: 5px;
}

#footer .sns img {
	width: auto;
	height: 15px;
}


#quickbar {
	border-top: 1px solid #dedede;
	margin-left: 50px;
	margin-right: auto;
	margin-top: 0px;
	width: auto;
	height: 300px;
}

#quickbar {
	font-size: 13px;
	font-weight: bold;
	position: fixed;
}

#quickbar .quickmenu-bg {
	position: absolute;
}

#quickbar .quickmenu {
	/* display: flex; */
	/* align-items: center; */
	flex-direction: column;
	position: absolute;
	font-size: 13px;
	left: 25px;
	top: 120px;
	text-align: center;
}

#quickbar .quickmenu li {
	font-weight: bold;
	width: 70px;
	height: 10px;
	padding: 5px 10px 15px 10px;
	border: none;
	letter-spacing: -1px;
}

#quickbar li:hover {
	background-color: #ff6a00;
	color: white;
}

#quickbar a:hover {
	color: unset;
}

a:hover {
	color: #ff6a00;
	font-weight: bold;
}

select:hover {
	cursor: pointer;
}